body{
  background: $background;
}

body,button,input,select,table,textarea,pre {
  color: $text;
}


::-webkit-scrollbar {
  width: 4px; /* 스크롤바의 너비 */
}

::-webkit-scrollbar-thumb:horizontal,
::-webkit-scrollbar-thumb:vertical {
  border-radius: 6px;
  background-color: $primary-7; /* 스크롤바의 색상 */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* 스크롤바 트랙 색상 */
}

input[type="date"] {
  position: relative;
}

input[type="date"]:after {
  content: "";
  position: absolute;
  right: 16px;
  width: 20px;
  height: 20px;
  background: url(../images/common/icon-calendar.svg) no-repeat 50% 50%;
  opacity: .6;
}

input[type="date"]:focus:after{
  opacity: 1;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  color: transparent;
  background: transparent;
}
input[type="date"]::-webkit-inner-spin-button {
  z-index: 1;
}
input[type="date"]::-webkit-clear-button {
   z-index: 1;
}

.warning{
  font-weight: 500;
  color: $red;
}

.decrease {
  color: $red !important;
}  
.increase {
  color: $main-blue3 !important;
}

.dim {
  // display: flex;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 70%);
}