$background:#060C24;
$layout-background: #293446;
$auth-background: #232C45;

$primary-1: #050c24;
$primary-1--70: rgb(5 12 36 / 70%);
$primary-2: #161e33;
$primary-3: #293446;
$primary-4: #2b344d;
$primary-5: #1B2139;
$primary-6: #3c4b72;
$primary-7: #959ecc;
$primary-8: #151B33;
$primary-9: #172038;

$secondary-1: #7d808f;
$secondary-2: #e7e7e8;
$secondary-3: #efefef;

$btn-primary: #4872f4;
$btn-primary-hover: #3563de;
$btn-primary-active: #1d4bc6;
$btn-primary-text: #fff;
$btn-secondary: #4e556c;
$btn-secondary-border: transparent;
$btn-secondary-hover: #3a4157;
$btn-secondary-active: #2d3346;
$btn-secondary-text: #fff;
$btn-tertiary: #3c4b72;
$btn-tertiary-hover: rgb(60 75 114 / 60%);
$btn-tertiary-active: rgb(60 75 114 / 60%);
$btn-tertiary-text: #fff;
$btn-dim: rgb(22 30 51 / 40%);
$btn-dim-hover: rgb(22 30 51 / 60%);
$btn-dim-text: rgb(255 255 255 / 80%);
$btn-dim-hover-text: #fff;

$input-background: #050c24;
$input-background-hover: rgb(5 12 36 / 60%);
$input-background-disbled: #181D30;
$input-border-focus: #4872f4;
$input-border-disbled: #343E6A;

$checkbox-bg: #3c4b72;
$checkbox-border: #838dba;

$text: #fff;
$text-light: #CBCBCB;
$text-disabled: #5b5f6b;
$text--fade9: rgb(255 255 255 /90%);
$text--grey: #C9C9C9;
$text-point: #00ebff;

$toast-background: rgb(70 120 255 / 70%);
$toast-shadow: rgb(0 0 0 / 40%);
$toast-text: rgb(255 255 255 / 90%);

$modal-background: #2b344d;
$modal-text: #fff;
$modal-sub-text: rgb(255 255 255 / 70%);
$modal-notice-text: #959ecc;
$modal-border: #3c4b72;
$modal-inner-border: #3c4b72;
$modal-close: #fff;
$modal-thead: rgb(23 32 56 / 50%);
$modal-text-box: rgb(5 12 36 / 50%);

$main-blue: #4872f4;
$main-blue2: #00ebff;
$main-blue3: #1459E5;
$red: #C53F3F;

$black--fade1: rgb(0 0 0 / 10%);
$black--fade2: rgb(0 0 0 / 20%);
$black--fade4: rgb(0 0 0 / 40%);
$black--fade5: rgb(0 0 0 / 50%);


$category-de-1: #2671ff;
$category-de-2: #15c461;
$category-de-3: #9655ff;
$category-de-4: #00ac9e;
$category-de-5: #ff837e;
$category-de-6: #ffae50;
$category-de-7: #50d6ff;
$category-de-8: #fa6dbf;
$category-de-9: #c2ff50;
$category-de-10: #ffdf50;

$category-in-1: #0ea7ff;
$category-in-2: #3437cc;
$category-in-3: #30d1b6;
$category-in-4: #a76aec;